In [1]:
list.append(3)

TypeError: descriptor 'append' for 'list' objects doesn't apply to a 'int' object

In [2]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [3]:
fruits.count('apple')

2

In [4]:
fruits.count("tasfdslkjfl")

0

In [6]:
# 앞에서 탐색 시작함. 먼저 발견되는 단어의 인덱스 출력 여러개가 있어도 먼저 발견되는 인덱스가 나온다.
fruits.index("banana")

3

In [7]:
fruits.index("banana", 3)

3

In [8]:
fruits.index("banana", 4) # 다음에 발견되는 바나나 단어의 인덱스 출력 인덱스 4 부터 탐색시작

6

In [9]:
fruits.reverse()

In [10]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [11]:
fruits.append("grep")

In [12]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grep']

In [13]:
fruits.sort()

In [14]:
fruits

['apple', 'apple', 'banana', 'banana', 'grep', 'kiwi', 'orange', 'pear']

In [16]:
print(fruits.pop())

pear

In [17]:
fruits.pop()

'orange'

# append vs extend  

### append : 리스트 뒤에 항목을 더 함.
### extend : 리스트 뒤에 이터레이터를 더 함? -- 보완 필요
####                  extend는 iterable한 객체를 가지고 iterate( 반복?) 하면서 전부 소진될때까지 list 끝에 이어 붙이는듯 하다.

In [24]:
# append
x = [1,2,3]
x.append([4,5])
print(x)

[1, 2, 3, [4, 5]]

In [26]:
# extend
x = [1,2,3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

# 리스트 -> 1. 스택, 2. 큐

In [18]:
stack = [3,4,5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [19]:
stack.pop()

7

In [20]:
stack

[3, 4, 5, 6]

In [21]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Graham")
queue.popleft()

'Eric'

In [22]:
queue

deque(['John', 'Michael', 'Terry', 'Graham'])

In [23]:
queue.pop()

'Graham'

In [28]:
queue

deque(['John', 'Michael', 'Terry'])

# pop() : popright()은 없지만 pop은 리스트의 오른쪽 끝을 삭제하면서 삭제된 값을 반환함.
# popleft() : list의 맨 앞( 왼쪽 끝)을 삭제하면서 값을 반환한다.

In [29]:

#  리스트 컴프리헨션
#  list comprehension

squares = []
for x in range(10):
    squares.append(x**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
squares = [x**2 for x in range(10)]

In [32]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [35]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x,y))
            
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [36]:
vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [39]:
# 표현식이 튜플이면, 반드시 괄호로 둘러싸야함. 
[x for x in vec if x >= 0]

[0, 2, 4]

In [40]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [41]:
freshfruit = [' banana', '  loganberry', ' passion fruit']

In [42]:
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [43]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [44]:
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-44-a4841c5cdd7d>, line 1)

In [45]:
vec = [[1,2,3], [4,5,6], [7,8,9]]

In [46]:
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
from math import pi
[str(round(pi, i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [48]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [49]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [50]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [53]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

In [54]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [55]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

# 인자 목록 언 패킹?
### 리스트와 튜플로부터 인자를 언 패킹하기 위해 (*)연산자를 사용해서 함수를 호출.
### 딕셔너리는 (**) 연산자를 써서 키워드 인자를 전달할 수 있음.

In [56]:
list(range(3,6))

[3, 4, 5]

In [60]:
args = [3,6]
list(range(*args))

[3, 4, 5]

In [61]:
list(zip(*matrix))

'''
def zip(*iterables):
    # zip('ABCD', 'xy') --> Ax By
    sentinel = object()
    iterators = [iter(it) for it in iterables]
    while iterators:
        result = []
        for it in iterators:
            elem = next(it, sentinel)
            if elem is sentinel:
                return
            result.append(elem)
        yield tuple(result)
'''

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

# *를 써서 패킹을 벗겨낸다고 생각하면 편할듯?

In [62]:
x = [1,2,3]
y = [4,5,6]
zipped = zip(x, y)
list(zipped)

[(1, 4), (2, 5), (3, 6)]

In [63]:
x2, y2 = zip(*zip(x,y))

In [64]:
x2

(1, 2, 3)

In [65]:
y2

(4, 5, 6)

# del 문

In [66]:
a = [-1, 1, 66, 25, 333, 333, 1234.5]

In [67]:
del a[0]

In [68]:
a

[1, 66, 25, 333, 333, 1234.5]

In [69]:
del a[2:4]

In [70]:
a

[1, 66, 333, 1234.5]

In [71]:
del a[:]
a

[]

In [97]:
del a

In [98]:
a

NameError: name 'a' is not defined

# 튜플과 시퀀스

In [76]:
t = 12345, 54321, 'hello'

In [77]:
t[0]

12345

In [78]:
t

(12345, 54321, 'hello')

In [99]:
a = [1,2,3]

In [100]:
a.type()

AttributeError: 'list' object has no attribute 'type'

In [101]:
type(a)

list

In [102]:
b = (1,2,3,4)

In [103]:
type(b)

tuple

In [104]:
c = [("문준호": "프로")]

SyntaxError: invalid syntax (<ipython-input-104-eb490c62aeb3>, line 1)

In [90]:
c = {"이름": "문준호", "직급": "사원", "부서": "R&D"}

In [91]:
type(c)

dict

In [92]:
c

{'이름': '문준호', '직급': '사원', '부서': 'R&D'}

In [94]:
c["전화번호"] = 99912345678

In [105]:
c

{'이름': '문준호', '직급': '사원', '부서': 'R&D', '전화번호': 99912345678}

# 튜플과 시퀀스 실습

In [106]:
t = 12345, 57680, 'hihi!' # 튜플 패킹
t[0]

12345

In [107]:
t

(12345, 57680, 'hihi!')

In [108]:
u = t, (1,2,3,4,5)

In [109]:
u

((12345, 57680, 'hihi!'), (1, 2, 3, 4, 5))

In [111]:
t[0] = 888888

TypeError: 'tuple' object does not support item assignment

## 튜플은 불변이다. -> 이 부분이 리스트와 다르다.
### 특별한 문제는 비었거나 하나의 항목을 가지는 튜플을 만드는것

In [112]:
empty = ()

In [113]:
singleton = 'hello'

In [114]:
len(empty)

0

In [115]:
len(singleton)

5

In [117]:
singleton = 'hello',
#  'hello' 뒤에 뭐가 들어오냐에 따라서 틀려짐. 
len(singleton)

1

## 하나의 튜플을 만들때는 뒤에 쉼표(,)를 붙여서 만든다.
### 하나의 튜플을 만들때는 괄호로 둘러싸기만 하는 것으로는 충분하지 않음. --> 괄호만으로 둘러싸서 요소가 한개만 있는 튜플을 만들때는 에러가 발생하므로 뒤에 쉼표(,)를 붙여준다.
## 빈 튜플을 만들때는 빈 괄호 쌍으로 만든다.

In [118]:
tupleTest = (1)

In [119]:
len(tupleTest)

TypeError: object of type 'int' has no len()

In [120]:
tupleTest2 = (1,)

In [121]:
len(tupleTest2)

1

In [127]:
x, y, z = t # 튜플 언패킹

In [128]:
x

12345

In [129]:
y

57680

In [130]:
z

'hihi!'

In [131]:
t

(12345, 57680, 'hihi!')

# set 집합
### 집합은 중복되는 요소가 없는 순서 없는 컬렉션이다.
## 기본적인 용도
### 1. 멤버쉽 검사
### 2. 중복 엔트리 제거
# 집합 객체는 합집합, 교집합, 대칭 차집합 
###

In [132]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [133]:
print(basket)

{'orange', 'banana', 'apple', 'pear'}

In [134]:
'orange' in basket

True

In [135]:
'ajskjdkj' in basket

False

# 집합 만들기
### 1. 중괄호
### 2.  set() 함수
### 주의 : 빈 집합을 만들때는 {}로 만들수 없으므로, set() 함수를 사용해야함.

In [136]:
a = set("generate set")

In [137]:
a

{' ', 'a', 'e', 'g', 'n', 'r', 's', 't'}

In [138]:
b = set("gen set")

In [139]:
a-b

{'a', 'r'}

In [140]:
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [141]:
b-a # 차집합

set()

In [142]:
a | b

{' ', 'a', 'e', 'g', 'n', 'r', 's', 't'}

In [143]:
b = {'ioxjcvoijsefjoj sdlkjflewl'} # 1번

In [144]:
a-b

{' ', 'a', 'e', 'g', 'n', 'r', 's', 't'}

In [145]:
b-a

{'ioxjcvoijsefjoj sdlkjflewl'}

In [147]:
b = set("ioxjcvoijsefjoj sdlkjflewl") # 2번

In [148]:
b - a

{'c', 'd', 'f', 'i', 'j', 'k', 'l', 'o', 'v', 'w', 'x'}

In [151]:
a|b # 합집합

{' ',
 'a',
 'c',
 'd',
 'e',
 'f',
 'g',
 'i',
 'j',
 'k',
 'l',
 'n',
 'o',
 'r',
 's',
 't',
 'v',
 'w',
 'x'}

In [154]:
a&b # 교집합

{' ', 'e', 's'}

In [156]:
a^b # 대칭 차집합

{'a',
 'c',
 'd',
 'f',
 'g',
 'i',
 'j',
 'k',
 'l',
 'n',
 'o',
 'r',
 't',
 'v',
 'w',
 'x'}

In [157]:
a = {x for x in "abracadabra" if x not in "abc"}
a

{'d', 'r'}